html {
    height: 750vh;
}

body {
    height: 750vh;
    border: 1px solid black;
    /* background-image: url('https://media.giphy.com/media/dwaeIbBnF6HBu/giphy.gif'); */
}

main {
    height: 150vh;
    border: 3px solid yellow;
    margin: 1em;
}

.app {
    border: 3px solid blue;
    height: 650vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    background-color: #e6f1f0;
}

.header {
    position: absolute;
    width: 90%;
    height: 100px;
    display: flex;
    top: 30px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.header > a {
    margin: 15px;
    font-size: 1.3em;
    font-family: Courier;
    text-decoration: none;
    transition: color 0.5s ease;
    color: #5d807c;
}


a:hover {
    color: #e6f2f0;
    background-color: violet;
    border-radius: 10%;
}


.footer {
    width: 100%;
    height: 30px;
    border: 3px solid red;
    font-family: "Courier";
}


.wrapMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.home {
    position: absolute;
    top: 200px;
    width: 100%;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#cv {
    position: relative;
    top: 4200px;
    width: 100%;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}





/*  First Page */

.imgHome {
    width: 40em;
}

.home {
    color: #5d807c;
    font-size: 20px;
    font-family: "Courier";
}

.headline {
  color: Violet;
  font-family: "Courier";
  font-size: 25px;
  margin: 10px 0px 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 50em;
  font-weight: bold;
  margin-bottom: 100px;
  margin-left: 100px;
  animation: type 8s steps(60, end);
}

@keyframes type{
  from { width: 0; }
}


/*  CV Page */

.btn {
    color: #5d807c;
    font-family: "Courier";
    font-size: 20px;
    background-color: transparent;
}

.btn:hover {
    background-color: violet;
    color: #e6f1f0;

}

.cvText {
    border: 1px dotted violet;
    padding: 10px;
    color: #5d807c;
    font-family: Courier;
    font-size: 20px;
    margin: 10px 0px 0 10px;
    white-space: wrap;
    overflow: hidden;
    width: 22em;
    font-weight: bold;
    margin-bottom: 100px;
    margin-left: 10px;
    position: relative;
    top: 70px;
    animation: type 5s steps(60, end);
}

.cvText >h4 {
    font-size: 25px;
}

@keyframes type{
  from { width: 0; }
}

.wrapCv {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    word-wrap: wrap;
}

.wrapAllCV {
    text-align: center;
    height: 1000px;
    width: 80%;
    margin: 100px;
    z-index: 3;
    background-color: white;
    border: 1px solid violet;
    position: absolute;
    top: 71.5rem;
    opacity: 0;
    color: #5d807c;
    animation-name: fadeInOut;
    animation-delay: 1.5s;
    animation-duration: 39s;
 }

 @keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.profileImg {
    position: relative;
    height: 300px;
    top: 60px;
    z-index: 3;
}


/*  Login Page */

.wrapLoginField {
    border: '4px solid red';
    position:'relative';
    top:'20em';
    width:'10em';
    height:'20em';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center
}

.input {
    height: 30px;
    width: 150px;
    align-items: center;
    margin-top: 2em;
}

/*  Profile Page */

.edit {
    font-size: 17px;
    margin-bottom: 30px;
    margin-top: 80px;
}

textarea {
    height: 60px;
    border: 2px solid violet;
    font-size: 17px;
}


/*  Project List */

#projects {
    position: relative;
    top: -250px;
    width: 100%;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectsHeadline {
    display: block;
    font-family: Courier;
    font-size: 1.9em;
    position: relative;
    color: #5d807c;
    top: -30px;
    width: 100%;
    text-align: center;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em
}


.wrapProjectList {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
}

.singleProject {
    height: 300px;
    width: 300px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #5d807c;
    -webkit-animation: background 8s cubic-bezier(1,0,0,1) infinite;
    animation: background 8s cubic-bezier(1,0,0,1) infinite;
}

.singleProject:hover {
    border: 2px solid violet;
}

@-webkit-keyframes background {
 0% { background-color: #5d807c; }
 33% { background-color: #a7c1be; }
 67% { background-color: #e6f2f0; }
 100% { background-color: #5d807c; }
}

@keyframes background {
 0% { background-color: #5d807c; }
 33% { background-color: #a7c1be; }
 67% { background-color: #e6f2f0; }
 100% { background-color: #5d807c; }
}


/*  Contact Section */

.contactImg {
    width: auto;
    height: 120px;
    margin: 20px;
    border-radius: 50%;
    background-color: #5d807c;

}

#contacts {
    background-color: transparent;
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    top: 420px;
    justify-content: center;
}

#wrapContactInfo {
    height: 500px;
    background-color: #5d807c;
    position: relative;
    top: -600px;
    width: 100%;
}


#wrapContactInfo >h2 {
    display: block;
    font-family: Courier;
    font-size: 1.9em;
    position: relative;
    color: #e6f2f0;
    top: -200px;
    width: 100%;
    text-align: center;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em
}
